.user.top-bar{
    display: flex;
    justify-content: flex-end;
}

.user h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #2ea2b1;
    padding-top: 15px;
}

a:link {
    text-decoration: none;
}

.user.user-select {
    padding-top: 15px;
    padding-right: 25px;
}